.logo {
    font-family: "Montserrat", sans-serif;
    font-weight:bold;
    font-style:normal;
    font-size: 30px ;
    line-height:48px;
    margin-top:  17px;
    margin-left:  80px;
    


    letter-spacing: -0.02em;
    color:green;
}


.main-title {
    font-family:'Ramaraja'serif;
    font-weight: normal;
    font-style:normal;
    
    letter-spacing: 0.02em;
    color:black;
    max-width: 495px;
    margin-top: 203px;
    margin-left: 200px;
    font-size: 72px;
    
}